# Geometries with other functionals and crystal geometries
geom-pbe0-d3-water/
geom-wB97X-gp/
geom-camb3lyp-gp/
geom-b3lyp-gp/
geom-crystal*/
geom-tecmer/
geom-uo2_4cl/
geom-denning/
optg-gp/
NBO/
dirac/

# QZ4P files
*QZ4P*
*VQZP*

# AMS files
*.ams
*.pid
*.results

# QTAIM subresults
*_atomicfiles/
*.extout
*.txt

# Gaussian checkpoint files
*.chk*

# Shell scripts
*.pbs
*.sh
*.slurm

